@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Busco Bico</h1>
    <h2 class="display-4">O lugar certo para solucionar seu problema</h2>
    <p class="p-1">Tem algum serviço a oferecer? Precisa do serviço de alguém? <br />
        Conheça nossa plataforma!</p>
</div>
